/* variables */
:root {
    --footer-height: 14rem;

    --link-margin: .75rem;
    --link-font-size: 2rem;
    --link-img-alt-padding: calc(var(--link-font-size)/2);

    --desktop-columns: 3;
    --tablet-columns: 2;
    --mobile-columns: 1;

    --desktop-columns-width: calc(100%/var(--desktop-columns) - 2*var(--link-margin));
    --tablet-columns-width: calc(100%/var(--tablet-columns) - 2*var(--link-margin));
    --mobile-columns-width: calc(100%/var(--mobile-columns) - 2*var(--link-margin));
}

/* footer at bottom 'hack' */
html,
body {
    height: 100%;
}

.section {
    min-height: calc(100% - var(--footer-height));
}

.footer {
    height: var(--footer-height);
}

/* style */
.content {
    text-align: justify;
}

.link {
    margin: var(--link-margin);
    width: var(--desktop-columns-width);
    font-size: var(--link-font-size);
    color: black;

    transition: transform .1s;
}

.link:hover {
    transform: rotate(1deg) scale(1.05, 1.05);
}

.link:active, .link:visited {
    transform: rotate(-1deg) scale(.95, .95);
    opacity: .9;
}

.link>img {
    position: relative;
    text-align: center;
    min-height: 100% !important; /*height: 100% on chromium did mess up everything*/
    padding: 0;
}

/*chrome: add space on top of the alt-text*/
.link>img[alt]::before {
    display: block;
    padding: 1rem;
    content: "";
}

/*every browser: replace alt-text, chrome: hide broken-link placeholder*/
.link>img[alt]::after {
    position: absolute;
    display: block;
    padding: 1rem;
    content: attr(alt);
    border-radius: 1rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    text-align: center;
}

@media screen and (max-width: 1407px) {
    .link {
        width: var(--tablet-columns-width);
    }
}

@media screen and (max-width: 1023px) {
    .link {
        width: var(--mobile-columns-width);
    }
}